.fullscreen {
    width: 100%;
    height: 100%;   
}

#search-repository {
    width: 100%;
    height: 10%;
    min-height: 80px;
    min-width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#search-button, #clear-results-button {
    margin-left: 14px;
    height: 100%;
}